
<p>
  <strong>country name:</strong>
  <%= @state.country.country_name %>
</p>

<p>
  <strong>state name:</strong>
  <%= @state.state %>
</p>

<%= link_to 'Next page', new_city_path %> |


<%= link_to 'Back to new state', new_state_path %> |
